

body {
  margin: 0;
  padding: 0;
  color: #000000;  
  font-family: "Lucida Grande", Tahoma,"Trebuchet MS", Arial, Verdana, sans-serif;
  font-size: small;
  line-height: 1.5em;
  background: #cccccc;
}

h1 {
  font-size: 250%;
  margin-left: 0;
  color: #000000;
}

h2 {
  font-size: 125%;
  color: #660000;
}

.box{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  border-color: black;
  border-width: 1px;
  border-style: dotted;
  background-color: #ffe6e6;
  padding: 25px;
  margin: 30px;
  width: 300px;
}

#container {
  width: 750px;
  margin: 0 auto;
  background: #ececec;
}

#header{
  background: #660000;
}

#navigation{
  background: #660000;
  padding: 5px 10px;
}

#navigation ul{
  margin:0;
  padding: 0;
  list-style: none;
}

#navigation li{
  display: inline;
  margin: 0;
  padding: 6px 5px 7px 5px;
}

#navigation a {
  color: #ffffff;
}

.selected{
  background: #990000;
}

#maincontent {
  background: #ffffff;
  float: left;
  width: 500px;
  padding: 10px 20px 10px 20px;
}

#maincontent img{
  width:490px;
}

#maincontent a{
  color: #000000;
}

#sidebar{
  float: right;
  width: 180px;
  background: #ececec;
  padding: 10px;
}

#sidebar img {
  max-width: 150px;
  height:auto;
  width:auto;
}

#footer {
  background: #660000;
  clear: both;
  padding: 5px 10px;
  font-size: 80%;
  color: #ffffff;
}

#footer a{
  color: #ffffff;
}




